version: "3.8"

services:
  app:
    build: .
    ports:
      - "3050:3000"
    environment:
      - HOST=0.0.0.0
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
